html {
	position: flex;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}

body {
	width: 100%;
	padding-top: 70px;
}

.navbar-default {
	font-family: 'Ubuntu', sans-serif;
	margin-bottom: 5rem;
	padding: 0 3rem 3rem 3rem;
	background: black;
	border-radius: 0;
	border: none;
	height: auto;
	font-size: large;
	line-height: 5rem;
}

.navbar-default .navbar-brand {
	font-size: 2em;
	color: #fff;
}

.navbar-toggle {
	margin: 20px 10px 20px 0;
	padding: 10px;
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
	background: transparent !important;
}
.navbar-toggle .icon-bar {
	transition: ease 0.2s;
}
.navbar-toggle .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
	opacity: 0;
}
.navbar-toggle .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
	transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
	opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
	transform: rotate(0);
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	color: rgba(250, 175, 76, 1.0);
}

@media only screen and (min-width: 768px) {
	.navbar-default .navbar-nav>li>a:after {
		content: '';
		display: block;
		margin: auto;
		height: 2px;
		width: 0px;
		background: transparent;
		transition: width .5s ease, background-color .5s ease;
	}

	.navbar-default .navbar-nav>li>a:hover:after {
		width: 100%;
		background: white;
	}

	.navbar-default .navbar-nav>li>a {
		padding-top: 3rem;
	}
}


.black {
	background-color: black;
}

.home {
	/*background: url("../images/custom-background3.svg") no-repeat center;*/
	/*background-attachment: fixed;*/
	/*background-size: cover;*/
	background-color: rgba(33, 33, 33, 1.0);

}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

.logo-small {
	height: 70px;
	width: 140px;
}

.logo {
	height: 200px;
	width: 450px;
	margin: 0;
}

.catchy {
	margin: 15rem 0;
	background:
}

.catchy-text {
	text-align: center;
	color: white;
	margin: 0;
	font-size: 80px;
}

.footer {
	padding: 3rem;
	background-color: black;
}

.info {
	color: white;
}

.gold {
	color: rgba(250, 175, 76, 1.0);
}

.lineRight {
	border-right: 2px solid gray;
	text-align: center;
	padding: 0;
}

.others {
	background-color: white;
}

.jumbotron {
	margin: 15rem 0;
	background: black;
	color: white;
	padding-bottom: 10em;
	text-shadow: 0px 15px 5px rgba(0,0,0,0.2);

}
