html {
	position: flex;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}

body {
	width: 100%;
	padding-top: 70px;
}

.navbar-default {
	font-family: 'Ubuntu', sans-serif;
	margin-bottom: 5rem;
	padding: 3rem;
	background: black;
	border-radius: 0;
	border: none;
	height: auto;
	font-size: large;
	line-height: 5rem;
}

.navbar-collapse {
	border: none;
}

.navbar-toggle {
	margin: 20px 10px 20px 0;
	padding: 10px;
  border: none;
  background: transparent;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	color: rgba(250, 175, 76, 1.0);
}

@media only screen and (min-width: 768px) {
	.navbar-default .navbar-nav>li>a:after {
		content: '';
		display: block;
		margin: auto;
		height: 2px;
		width: 0px;
		background: transparent;
		transition: width .5s ease, background-color .5s ease;
	}

	.navbar-default .navbar-nav>li>a:hover:after {
		width: 100%;
		background: white;
	}
}

.navbar-brand {
	padding: 0;
}

.navbar-brand>img {
	height: 10rem;
	width: 15rem;
}


.fa-home {
	color: rgba(250, 175, 76, 1.0);
	font-size: 2.5rem;
}

.home {
	background: url("../images/background1.jpg") no-repeat center;
	background-attachment: fixed;
	background-size: cover;

}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}



.logo {
	height: 200px;
	width: 450px;
	margin: 0;
}

.catchy {
	margin: 5rem 0;
	padding: 5rem;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 1rem;
}

.catchy-text {
	text-align: center;
	color: white;
	margin: 0;
}

.footer {
	padding: 3rem;
	background-color: black;
}

.info {
	color: white;
}

.gold {
	color: rgba(250, 175, 76, 1.0);
}

.lineRight {
	border-right: 2px solid gray;
	text-align: center;
	padding: 0;
}

.others {
	background: rgba(126, 172, 184, 1.0);
}

.jumbotron {
	margin: 15rem 0;
	background: black;
	color: white;
	padding-bottom: 10em;
	text-shadow: 0px 15px 5px rgba(0,0,0,0.2);

}
