html,
body {
	position: flex;
	margin: 0;
	padding: 0;
}

.home-page {
	background: url("../images/galaxy-background.jpg") no-repeat center;
	background-attachment: fixed;
	background-size: cover;

}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

nav.navbar {
	margin-bottom: 5rem;
	border: none;
	background: transparent;
	height: auto;
}

.logo {
	height: 200px;
	width: 450px;
	margin: 0;
}

.catchy {
	margin: 2rem 0;
	padding: 5rem;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 1rem;
}

.catchy-text {
	color: white;
}
