RewriteEngine on
RewriteCond %{HTTP_HOST} ^lyradevelopment.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.lyradevelopment.com$
RewriteCond %{REQUEST_URI} !public_html/
RewriteRule (.*) /public_html/$1 [L]
